### First Use Examples
The ETMClient is the link between the ETM API and Python. In order to interact with a scenario, the ETMClient first needs to connect to a scenario in the ETM. The scenario to which the client is connected is referenced to with a scenario_id. There are several ways to connect to a scenario, you can create a new scenario, you can create a copy of existing scenario's or you can connect to an existing scenario. First time users probably want to create an entire new scenario or a scenario that is based on a predefined template.

In [1]:
from pyETM import Client

# use existing scenario to create a copy
template_id = "36950"
client = Client().from_existing_scenario(template_id)

# print scenario_id
scenario_id = client.scenario_id
scenario_id

'917922'

In [2]:
from pyETM import Client

# you can reconnect to your scenario with the provided scenario_id
client = Client(scenario_id)
client.scenario_id

'917922'

### Scenario properties
After a connection with a scenario is established, you can request specific properties of that given scenario. The more basic properties that can be accessed for example are the title, start year, end year and area code of the scenario.

In [3]:
client._get_scenario_header()

{'id': 917922,
 'title': None,
 'area_code': 'nl',
 'start_year': 2015,
 'end_year': 2050,
 'description': None,
 'url': 'https://engine.energytransitionmodel.com/api/v3/scenarios/917922',
 'ordering': None,
 'display_group': None,
 'scaling': None,
 'source': None,
 'template': None,
 'created_at': '2022-05-25T20:56:16.000Z',
 'updated_at': '2022-05-25T20:56:16.000Z',
 'read_only': False,
 'protected': False,
 'keep_compatible': False,
 'esdl_exportable': None}

In [4]:
# set title of the scenario
client.title = 'Example scenario'
client.title

'Example scenario'

More relevant properties of the scenario are the user configured parameters of the scenarios. You can access and change them via the user values property of the scenario.

In [5]:
# frst check which parameters can be set in the scenario
parameters = client.user_parameters
parameters.iloc[41:46]

,min,max,default,unit,cache_error,user,disabled,disabled_by,share_group,permitted_values
efficiency_buildings_space_heater_crude_oil,70.0,100.0,85.0,%,NaN,NaN,False,NaN,NaN,NaN
efficiency_buildings_space_heater_electricity,90.0,100.0,100.0,%,NaN,NaN,False,NaN,NaN,NaN
efficiency_buildings_space_heater_heatpump_air_water_electricity,0.0,200.0,100.0,%,NaN,NaN,False,NaN,NaN,NaN
efficiency_buildings_space_heater_hybrid_heatpump_air_water_electricity,0.0,200.0,100.0,%,NaN,NaN,False,NaN,NaN,NaN
efficiency_buildings_space_heater_network_gas,90.0,111.0,106.7,%,NaN,NaN,False,NaN,NaN,NaN

In [6]:
# show parameters that are set by the user
client.user_values

Series([], Name: user, dtype: object)

In [7]:
# let's the capacities of several plants
# we can specify these changes in a dictonairy or series object.
user_values = {
    'capacity_of_energy_power_nuclear_gen2_uranium_oxide' : 750,
    'capacity_of_energy_power_wind_turbine_coastal' : 1500,
    'capacity_of_energy_power_wind_turbine_offshore' : 500
}

# apply the changes to the scenario
client.user_values = user_values
client.user_values

capacity_of_energy_power_nuclear_gen2_uranium_oxide     750.0
capacity_of_energy_power_wind_turbine_coastal          1500.0
capacity_of_energy_power_wind_turbine_offshore          500.0
Name: user, dtype: object

As the user_values can be passed in different formats, it is possible to load a json as a dictonairy or a csv-file as series or dataframe with a 'user' column. When parameters are passed with a value outside the domain that is specified, the client will raise an error. 

### Result Curves
Simular to the scenario properties, the results of a scenario can also be accessed as properties of the scenario. When scenario parameters are changed, all results curves are automatically reset and are requested again upon accessing the client property. This means that the first time that a result curve is requested some time will pass before the result is loaded, as the ETM is evaluating the scenario in the background.

In [8]:
# request hourly electricity curves
ecurves = client.hourly_electricity_curves
ecurves.head()

,buildings_solar_pv_solar_radiation.output (MW),energy_battery_solar_pv_solar_radiation.output (MW),energy_battery_wind_turbine_inland.output (MW),energy_chp_coal_gas.output (MW),energy_chp_combined_cycle_network_gas.output (MW),energy_chp_local_engine_biogas.output (MW),energy_chp_local_engine_network_gas.output (MW),energy_chp_local_wood_pellets.output (MW),energy_chp_supercritical_ccs_waste_mix.output (MW),energy_chp_supercritical_waste_mix.output (MW),...,transport_bus_using_electricity.input (MW),transport_car_flexibility_p2p_electricity.input (MW),transport_car_using_electricity.input (MW),transport_freight_train_using_electricity.input (MW),transport_motorcycle_using_electricity.input (MW),transport_passenger_train_using_electricity.input (MW),transport_tram_using_electricity.input (MW),transport_truck_using_electricity.input (MW),transport_van_using_electricity.input (MW),deficit
DateTime,,,,,,,,,,,,,,,,,,,,,
2050-01-01 00:00:00,0.0,0.0,0.0,116.7808,163.9717,108.5708,0.0,14.1025,0.0,653.58,...,0.6779,0.0,7.0363,32.0425,0.0134,47.8428,6.6211,0.2004,0.3392,0.0
2050-01-01 01:00:00,0.0,0.0,0.0,116.7808,163.9717,108.5708,0.0,14.1025,0.0,653.58,...,0.5123,0.0,2.6199,24.2145,0.0050,17.8140,2.4653,0.1514,0.2563,0.0
2050-01-01 02:00:00,0.0,0.0,0.0,116.7808,163.9717,108.5708,0.0,14.1025,0.0,653.58,...,0.4021,0.0,1.2336,19.0064,0.0024,8.3876,1.1608,0.1189,0.2012,0.0
2050-01-01 03:00:00,0.0,0.0,0.0,116.7808,163.9717,108.5708,0.0,14.1025,0.0,653.58,...,0.3172,0.0,0.8575,14.9908,0.0016,5.8308,0.8069,0.0938,0.1587,0.0
2050-01-01 04:00:00,0.0,0.0,0.0,116.7808,163.9717,108.5708,0.0,14.1025,0.0,653.58,...,0.2489,0.0,0.8579,11.7668,0.0016,5.8334,0.8073,0.0736,0.1246,0.0

### Custom Curves
It is also possible to upload custom curves for a select number of parameters.

In [9]:
# show if there are custom curves attached in the scenario
client.ccurves.attached

key
interconnector_1_price              False
interconnector_2_price              False
interconnector_3_price              False
interconnector_4_price              False
interconnector_5_price              False
interconnector_6_price              False
weather/buildings_heating           False
electric_buses                      False
electric_trucks                     False
electric_vehicle_profile_1          False
electric_vehicle_profile_2          False
electric_vehicle_profile_3          False
electric_vehicle_profile_4          False
electric_vehicle_profile_5          False
industry_chemicals_electricity      False
industry_chemicals_heat             False
industry_fertilizers_electricity    False
industry_fertilizers_heat           False
industry_ict                        False
industry_metals_electricity         False
industry_metals_heat                False
industry_other_electricity          False
industry_other_heat                 False
industry_refineries_electricity     False
industry_refineries_heat            False
hydrogen_export                     False
hydrogen_import                     False
network_gas_export                  False
network_gas_import                  False
weather/solar_pv_profile_1          False
weather/solar_thermal               False
geothermal_heat                     False
river                               False
weather/wind_offshore_baseline      False
weather/wind_coastal_baseline       False
weather/wind_inland_baseline        False
Name: attached, dtype: bool

Set some scenarios by passing random data for the interconnectors

In [10]:
import numpy as np
import pandas as pd

# create prices for interconnectors
con1 = pd.Series(np.random.rand(8760)*3, name='interconnector_1_price')
con2 = pd.Series(np.random.rand(8760)*49, name='interconnector_2_price')
con3 = pd.Series(np.random.rand(8760)*5, name='interconnector_3_price')

# create capacity factors for wind
offshore = pd.Series(np.random.rand(8760), name='weather/wind_offshore_baseline')
onshore = pd.Series(np.random.rand(8760), name='weather/wind_inland_baseline')

# merge series in dataframe
ccurves = pd.concat([con1, con2, offshore, onshore], axis=1)

# show random data
ccurves.head()

,interconnector_1_price,interconnector_2_price,weather/wind_offshore_baseline,weather/wind_inland_baseline
0,1.809647,8.196088,0.175538,0.343581
1,2.354015,31.422294,0.659629,0.181104
2,1.710784,35.427180,0.111855,0.959938
3,0.537753,48.010908,0.750566,0.923117
4,1.985505,47.258131,0.506963,0.934237

In [11]:
# set data as ccurves profiles and specify dataset
client.upload_custom_curves(ccurves, name='DataFrame upload')

# this also works for individual series
client.upload_custom_curve(con3, name='Series upload')

# show uploaded ccurves
curves = client.ccurves()
curves = curves[curves.attached == True]

# show ccurves
curves

,type,display_group,attached,overrides,name,size,datetime,source_scenario
key,,,,,,,,
interconnector_1_price,price,interconnectors,True,1,DataFrame upload,42950.0,2022-05-25 20:56:24+00:00,{}
interconnector_2_price,price,interconnectors,True,1,DataFrame upload,49869.0,2022-05-25 20:56:24+00:00,{}
interconnector_3_price,price,interconnectors,True,1,Series upload,42969.0,2022-05-25 20:56:25+00:00,{}
weather/wind_offshore_baseline,capacity_profile,electricity_production,True,2,DataFrame upload,195821.0,2022-05-25 20:56:24+00:00,NaN
weather/wind_inland_baseline,capacity_profile,electricity_production,True,2,DataFrame upload,195829.0,2022-05-25 20:56:25+00:00,NaN